doctype 5
html
  include ../includes/head
  body
    #login-content
      .messages
        include ../includes/messages
      .content
        block content
    include ../includes/footer
    include ../includes/foot
